@font-face {
    font-family: 'Rubic-Light';
    src: url(../fonts/Rubik-Light.ttf);
}
@font-face {
    font-family: 'Rubic-Regular';
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'Rubic-SemiBold';
    src: url(../fonts/Rubik-SemiBold.ttf);
}